/*
Theme Name: Sparrow
Version: 1.2
Author: Bonfire Themes
Author URI: http://bonfirethemes.com/
Theme URI: http://bonfirethemes.com/
Description: Light & Quick WordPress Theme.
Tags: light, one-column, fluid-layout, responsive-layout, custom-background, custom-menu, featured-images, full-width-template
License: GNU GENERAL PUBLIC LICENSE, Version 2
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*************************************************************
[TABLE OF CONTENTS]

1. GENERAL STYLING
2. HEADER IMAGE + FEATURED IMAGE + VIDEO BACKGROUND + COLOR OVERLAY
3. LOGO + TAGLINE
4. SEARCH + MENU WRAPPER
5. HEADER SEARCH FORM
6. MAIN MENU
7. MAIN MENU (MOBILE)
8. USER AVATAR + SECONDARY MENU
9. FULL-SCREEN PROFILE
10. BREADCRUMBS
11. POST DATE
12. COMMENT COUNT
13. STRUCTURE
14. 404 PAGE
15. SHOWING TAGS/CATEGORIES/SEACRH RESULTS/AUTHOR
16. COMMENT FORM
17. COMMENTS
18. CONTACT FORM
19. VIDEO CONTAINER
20. LISTS
21. HEADINGS
22. DISPLAY NONE
23. POSTS, PAGES
24. POST PAGINATION
25. CATEGORIES + TAGS AT END OF POST
26. SHARE BUTTON
27. PREV/NEXT POST BUTTONS
28. NEXT PAGE, PREV PAGE (BLOG INDEX)
29. FOOTER
30. WIDGETS
31. "TOP OF PAGE" BUTTON
32. POST FORMATTING
33. CLEAR & ALIGNMENT
34. GALLERY LAYOUT, COLUMNS
35. PHOTOSWIPE CUSTOMIZATIONS
36. SHORTCODE CUSTOMIZATIONS
37. WORDPRESS TOOLBAR (IF WORDPRESS TOOLBAR ACTIVE, PUSH HEADER ELEMENTS DOWN A BIT)
38. STYLES FOR "COVER" PAGE TEMPLATE
*************************************************************/


/* GENERAL STYLING
**************************************************/
body {
	background-color:#F4F4F5;
}
html, body {
	-webkit-text-size-adjust:none;
}
body, body .search {
}
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset, figure {
	margin: 0;
	padding: 0;
}
pre {
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
}
th {
	padding-right:15px;
}
dt {
	font-weight:bold;
}
dd {
	margin-bottom:10px;
}
img, fieldset {
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

img {
	max-width:100%;
	height:auto;
}
/* 404 & archive page background color */
.error404, .page-template-page-archive-php,
.error404 #sitewrap, .page-template-page-archive-php #sitewrap {
}
/* hide #content shadow for 404 & archive pages */
.error404 #content, .page-template-page-archive-php #content {
}

.wrapper-outer {
}

#sitewrap {
	margin-top:35px;
}
#pagewrap {
	max-width:1000px;
	margin:0 auto;
}
a {
	/* remove the flickering effect of a tapped link when on a touch device */
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	
	color:#6E87BA;
	text-decoration: none;
	outline:none;
	
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	transition: all .20s ease;
}
a:hover {
	text-decoration: underline;
	
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	transition: all .20s ease;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}
small {
	font-size: 13px;
}
blockquote {
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:30px;
	line-height:40px;
	color:#7E8689;
	padding:10px 20px 0 30px;
	margin-top:15px;
}
.sticky {
	border-bottom:2px solid #CECECF;
	padding-bottom:0 !important;
	margin-bottom:60px !important;
}
/* sticky post emblem */
.sticky-post,
.sticky .post-date-comment { display:none; }
.sticky .sticky-post {
	display:block;
	color:#000;
	margin:0 auto 10px auto;
	padding-top:20px;
	text-align:center;
}
.sticky .sticky-post svg {
	display:inline-block;
	fill:#D6BB16;
	width:79px;
	height:79px;
}
.sticky .sticky-post .title-left,
.sticky .sticky-post .title-right {
	display:inline-block;
	position:relative;
	top:-41px;
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:400;
	font-size:12px;
	color:#9CA0A6;
	letter-spacing:0.4em;
}
.sticky .sticky-post .title-left {
	margin-right:-7px;
}



/* CUSTOM PLACEHOLDER TEXT COLOR
**************************************************/
::-webkit-input-placeholder { color:#B4BCC1 !important; opacity:1; }
:-moz-placeholder { color:#B4BCC1 !important; opacity:1; }
::-moz-placeholder { color:#B4BCC1 !important; opacity:1; }
:-ms-input-placeholder { color:#B4BCC1 !important; opacity:1; }


/*
HEADER IMAGE + FEATURED IMAGE + VIDEO BACKGROUND + COLOR OVERLAY
**************************************************/
.header-image,
.featured-image {
	position:absolute;
	top:0;
	width:100%;
	height:520px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	z-index:8;
}
#videobackground {  }
#tubular-container { position:absolute !important; top:0 !important; height:520px !important; }
#tubular-shield { height:520px !important; }
.header-overlay-color {
	position:absolute;
	top:0;
	width:100%;
	height:520px;
	background-color:#000;
	opacity:.65;
	z-index:9;
}


/* LOGO + TAGLINE
**************************************************/
.site-logo-wrapper {
	position:absolute;
	z-index:10;
	top:0;
	display:table;
	table-layout:fixed;
	width:100%;
	height:520px;
}
.site-logo, .site-logo a {
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:40px;
	line-height:40px;
	letter-spacing:0.4em;
	color:#fff;
	margin-left:15px;
}
.site-logo {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.site-logo a:hover {
	text-decoration:none;
}

/* if image is used as logo */
.site-logo-image {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:auto;
	height:auto;
}
.site-logo-image img {
	width:auto;
	max-width:100%;
	height:auto;
	max-height:100%;
}
/* when search form active, scale down and fade out logo */
.site-logo-search-active {
	opacity:0;
	-webkit-transform:scale(.95);
	-moz-transform:scale(.95);
	transform:scale(.95);
	
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.tagline {
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:18px;
	line-height:23px;
	color:#fff;
	margin:10px 10px 0 10px;
	letter-spacing:0;
	opacity:.55;
}


/* SEARCH + MENU WRAPPER
**************************************************/
.search-menu-wrapper {
	position:relative;
	width:100%;
	height:520px;
}

/* HEADER SEARCH FORM
**************************************************/
#header-search-button {
	position:relative;
	top:30px;
	z-index:11;
	text-align:center;
	width:60px;
	margin:0 auto;
	cursor:pointer;
}
#header-search-button svg {
	opacity:.35;
	fill:#fff;
	width:38px;
	height:38px;
	
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
#header-search-button:hover svg {
	opacity:.75;
}
#header-search-wrapper {
	position:absolute;
	z-index:12;
	top:-100%;
	width:100%;
	opacity:0;
	margin:0;
	
	-webkit-transform:scale(.96);
	-moz-transform:scale(.96);
	transform:scale(.96);
	
	-webkit-transition:opacity .3s ease, -webkit-transform .3s ease;
	-moz-transition:opacity .3s ease, -moz-transform .3s ease;
	transition:opacity .3s ease, transform .3s ease;
}
.header-search-active {
	top:220px !important;
	opacity:.9 !important;
	
	-webkit-transform:scale(1) !important;
	-moz-transform:scale(1) !important;
	transform:scale(1) !important;
}
/* search close icon */
.search-close-icon {
	display:none;
	position:absolute;
	top:13px;
	right:35px;
	opacity:.5;
	cursor:pointer;
	
	-webkit-transition:opacity .3s ease;
	-moz-transition:opacity .3s ease;
	transition:opacity .3s ease;
}
.header-search-active .search-close-icon { display:inline; }
.search-close-icon svg {
	fill:#5A5A5A;
	width:40px;
	height:40px;
}
.search-close-icon:hover {
	opacity:1;
}
.search-close-tooltip {
	position:absolute;
	top:28px;
	right:36px;
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #303438;
}
.search-close-tooltip-text {
	position:absolute;
	top:-10000px;
	right:-21px;
	width:78px;
	background-color:#303438;
	padding:7px 15px 6px 14px;
	pointer-events:none;
	
	opacity:.5;
	
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:10px;
	color:#BEBEC6;
	letter-spacing:0.03em;
	
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	
	-webkit-transform:translateY(-5px);
	-moz-transform:translateY(-5px);
	transform:translateY(-5px);
	
	-webkit-transition:-webkit-transform .35s ease, opacity .35s ease;
	-moz-transition:-moz-transform .35s ease, opacity .35s ease;
	transition:transform .35s ease, opacity .35s ease;
}
.search-close-icon:hover .search-close-tooltip-text {
	top:-38px;
	opacity:1;
	
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
}
/* search background */
.header-search-background {
	opacity:0;
	position:absolute;
	z-index:11;
	top:-100%;
	width:100%;
	height:520px;
	background-color:#05090E;
	
	-webkit-transition:opacity .3s ease, top 0s ease .3s;
	-moz-transition:opacity .3s ease, top 0s ease .3s;
	transition:opacity .3s ease, top 0s ease .3s;
}
.header-search-background-active {
	top:0 !important;
	opacity:.8 !important;
	
	-webkit-transition:opacity .4s ease;
	-moz-transition:opacity .4s ease;
	transition:opacity .4s ease;
}

#header-search-wrapper .searchform-wrapper {
	position:relative;
	max-width:850px;
	margin:0 auto;
	padding:0 20px;
	
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	transition:all .4s ease;
}

/* searchform input */
#header-search-wrapper #searchform input {
	width:100%;
	height:66px;
	
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:20px;
	color:#9D9D9F;
	
	padding:6px 0 5px 22px;
	
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

	border:0;
	border-radius:1px;
	background-color:#fff;
	
	-webkit-transition:all .15s ease;
	-moz-transition:all .15s ease;
	transition:all .15s ease;
}
#header-search-wrapper #searchform input:hover, #header-search-wrapper #searchform input:focus {
	color:#909090;
}
/* placeholder */
#header-search-wrapper ::-webkit-input-placeholder { color:#93989B !important; opacity:1; }
#header-search-wrapper :-moz-placeholder { color:#93989B !important; opacity:1; }
#header-search-wrapper ::-moz-placeholder { color:#93989B !important; opacity:1; }
#header-search-wrapper :-ms-input-placeholder { color:#93989B !important; opacity:1; }


/* MAIN MENU
**************************************************/
#main-menu {
	position:absolute;
	z-index:11;
	bottom:40px;
	overflow:auto;
	width:100%;
	text-align:center;

	-webkit-transition: all .75s ease;
	-moz-transition: all .75s ease;
	transition: all .75s ease;
	
	-webkit-overflow-scrolling: touch;
}
.bonfire-main-menu .menu {
	padding:16px 10px 0 10px;
	background:none;
}
.bonfire-main-menu .menu a {
	color:rgba(255,255,255,.5);
	padding:20px 14px 8px 14px;
	margin:0;
	display:inline-block;
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	cursor:pointer;
	font-size:12px;
	letter-spacing:.1em;
	text-decoration:none;
	
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	transition:all .2s ease;
}
.bonfire-main-menu .menu a:hover {
	color:rgba(255,255,255,1);
	text-decoration:none;
	
	-webkit-transform:translateY(-5px);
	-moz-transform:translateY(-5px);
	transform:translateY(-5px);
}
.bonfire-main-menu .menu ul {
	list-style:none;
	padding:0;
	margin:0;
}
.bonfire-main-menu .menu li {
	display:inline-block;
	list-style-type:none;
	padding:0;
	margin:0 -2px;
}
.bonfire-main-menu .current-menu-item a {
	color:rgba(255,255,255,.85);
	border-bottom:2px solid #FFC11C;
}
.bonfire-main-menu .current-menu-item a:hover {
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
}


/* MAIN MENU (MOBILE)
**************************************************/
.sparrow-menu-button-wrapper,
.sparrow-mobile-background { display:none; }

/* mobile menu background */
.sparrow-mobile-background {
	position:absolute;
	z-index:15;
	text-align:center;
	top:-1000px;
	width:100%;
	height:520px;
	background-color:#05090E;
	opacity:0;
	
	-webkit-transition:top 0s ease .25s, opacity .25s ease;
	-moz-transition:top 0s ease .25s, opacity .25s ease;
	transition:top 0s ease .25s, opacity .25s ease;
}
.sparrow-mobile-background-active.sparrow-mobile-background {
	top:0;
	opacity:.8;
	
	-webkit-transition:top 0s ease 0s, opacity .25s ease;
	-moz-transition:top 0s ease 0s, opacity .25s ease;
	transition:top 0s ease 0s, opacity .25s ease;
}
#main-menu-mobile {
	position:absolute;
	bottom:125px;
	width:100%;
	text-align:center;
	
	-webkit-transition:top 0s ease .25s, opacity .25s ease, -webkit-transform .25s ease;
	-moz-transition:top 0s ease .25s, opacity .25s ease, -moz-transform .25s ease;
	transition:top 0s ease .25s, opacity .25s ease, transform .25s ease;
}
#main-menu-mobile .bonfire-main-menu .menu a {
	color:rgba(255,255,255,1);
}
.sparrow-mobile-background-active #main-menu-mobile {		
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
	transform:translateY(-20px);

	-webkit-transition:top 0s ease 0s, opacity .25s ease, -webkit-transform .25s ease;
	-moz-transition:top 0s ease 0s, opacity .25s ease, -moz-transform .25s ease;
	transition:top 0s ease 0s, opacity .25s ease, transform .25s ease;
}
#main-menu-mobile .bonfire-main-menu .menu li { display:block; }
#main-menu-mobile .bonfire-main-menu .current-menu-item a { border-bottom:1px solid #FFC11C; }
#main-menu-mobile .bonfire-main-menu .current-menu-item a:hover {
	-webkit-transform:translateY(-5px);
	-moz-transform:translateY(-5px);
	transform:translateY(-5px);
}

.sparrow-menu-button-wrapper {
	position:absolute;
	z-index:16;
	bottom:40px;
	width:100%;
	text-align:center;
}
/* button */
.sparrow-menu-button {
	text-align:center;
	margin:0 auto;
	/*padding:11px 11px 11px 11px;*/
	width:62px;
	cursor:pointer;

	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
/* menu bars */
.sparrow-menu-button:after,
.sparrow-menu-button:before,
.sparrow-menu-button div.sparrow-menu-button-middle {
	content:'';
	display:block;
	height:2px;
	margin:7px auto;
	width:40px;
	background-color:#fff;
	opacity:.6;

	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
/* menu bars hover */
.sparrow-menu-button:hover:after,
.sparrow-menu-button:hover:before,
.sparrow-menu-button:hover div.sparrow-menu-button-middle { opacity:1; }
/* top bar animation */
.sparrow-menu-active .sparrow-menu-button:before {
	-webkit-transform: translateY(9px) rotate(45deg);
	-moz-transform: translateY(9px) rotate(45deg);
	transform: translateY(9px) rotate(45deg);
}
/* bottom bar animation */
.sparrow-menu-active .sparrow-menu-button:after {
	-webkit-transform: translateY(-9px) rotate(-45deg);
	-moz-transform: translateY(-9px) rotate(-45deg);
	transform: translateY(-9px) rotate(-45deg);
}
/* middle bar animation */
.sparrow-menu-active .sparrow-menu-button div.sparrow-menu-button-middle {
	opacity:0;

	-webkit-transform:scaleX(0);
	-moz-transform:scaleX(0);
	transform:scaleX(0);
}
/* top+bottom bar animation speeds */
.sparrow-menu-active .sparrow-menu-button:before,
.sparrow-menu-active .sparrow-menu-button:after {	
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	transition:all .2s ease;
}


/* USER AVATAR + SECONDARY MENU
**************************************************/
.user-avatar {
	opacity:.8;
	position:fixed;
	z-index:13;
	top:40px;
	right:55px;
	width:62px;
	height:62px;
	cursor:pointer;
	overflow:hidden;
	
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	transition:all .4s ease;
}
.user-avatar-active {
	width:145px;
	height:135px;
	opacity:1;
	
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);
	
	-webkit-transition:all .55s ease;
	-moz-transition:all .55s ease;
	transition:all .55s ease;
}
.user-avatar img {
	width:100%;
	height:auto;
}
.user-avatar:hover {
	opacity:1;
}
.user-avatar-arrow {
	opacity:.70;
	position:fixed;
	z-index:12;
	top:71px;
	right:37px;
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #ccc;
	pointer-events:none;
	
	-webkit-transition:all .35s ease;
	-moz-transition:all .35s ease;
	transition:all .35s ease;
}
.user-avatar:hover .user-avatar-arrow {
	opacity:.9;
}
/* user avatar menu */
.user-avatar-menu {
	max-width:62px;
	position:fixed;
	z-index:12;
	top:102px;
	right:55px;
	overflow:hidden;
	padding:8px 0 8px 3px;
	background-color:#fff;

	/* Using ".00000001" removes Chrome animation error */
	-webkit-transform:scaleY(.00000001);
	-moz-transform:scaleY(.00000001);
	transform:scaleY(.00000001);
	
	-webkit-transform-origin:top;
	-moz-transform-origin:top;
	transform-origin:top;

	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	transition:all .4s ease;

	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);
}
.user-avatar-menu-active {
	top:175px;
	max-width:142px;
	
	-webkit-transform:scaleY(1);
	-moz-transform:scaleY(1);
	transform:scaleY(1);
	
	-webkit-transition:top .55s ease, max-width .55s ease, -webkit-transform .55s ease;
	-moz-transition:top .55s ease, max-width .55s ease, -moz-transform .55s ease;
	transition:top .55s ease, max-width .55s ease, transform .55s ease;
}
.user-avatar-menu .menu {
	width:135px;
	padding:0;
	margin:0 0 0 3px;
}
/* specify bottom border */
.user-avatar-menu .menu .border a {
	border-bottom:1px solid #ECEEEF;
	padding-bottom:12px;
	margin-bottom:4px;
}

/* author menu links */
.user-avatar-menu .menu a {
	font-family:'Open Sans';
	font-weight:600;
	font-size:13px;
	color:#AFB7BF;
	padding:10px 5px 12px 5px;
	margin:0 13px 0 3px;
	display:inline-block;
	cursor:pointer;
}
.user-avatar-menu .menu li a {
	padding:5px 5px 5px 7px;
	margin:0;
	width:119px;
	opacity:1;
}
.user-avatar-menu .menu li a:hover {
	color:#898E94;
	text-decoration:none;
	
	-webkit-transition:all .15s ease;
	-moz-transition:all .15s ease;
	transition:all .15s ease;
}
/* menu wrapper (inner) */
.bonfire-author-menu {
	position:relative;
	opacity:0;
	top:25px;
	
	width:145px;
	padding:0;
	
	-webkit-transform-origin:25% 0;
	-moz-transform-origin:25% 0;
	transform-origin:25% 0;
}
/* icon */
.user-avatar-menu .menu a i {
	margin:3px 3px 0 -5px;
	display:block;
	float:left;
	width:20px;
	text-align:center;
	font-size:12px;
}
.user-avatar-menu-active .bonfire-author-menu {
	opacity:1;
	top:0;
	
	-webkit-transition:all .25s ease .3s;
	-moz-transition:all .25s ease .3s;
	transition:all .25s ease .3s;
}
/* individual li animations */
.bonfire-author-menu .menu li a {
	opacity:0;

	-webkit-transform:translateY(10px);
	-moz-transform:translateY(10px);
	transform:translateY(10px);
}
.user-avatar-menu-active .menu li a {
	opacity:1;
	
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
}

/* individual li animation speeds */
.user-avatar-menu-active .menu li:nth-child(1) a {
	-webkit-transition:opacity .2s ease .1s, -webkit-transform .2s ease .1s;
	-moz-transition:opacity .2s ease .1s, -moz-transform .2s ease .1s;
	transition:opacity .2s ease .1s, transform .2s ease .1s;
}
.user-avatar-menu-active .menu li:nth-child(2) a {
	-webkit-transition:opacity .2s ease .35s, -webkit-transform .2s ease .35s;
	-moz-transition:opacity .2s ease .35s, -moz-transform .2s ease .35s;
	transition:opacity .2s ease .35s, transform .2s ease .35s;
}
.user-avatar-menu-active .menu li:nth-child(3) a {
	-webkit-transition:opacity .2s ease .45s, -webkit-transform .2s ease .45s;
	-moz-transition:opacity .2s ease .45s, -moz-transform .2s ease .45s;
	transition:opacity .2s ease .45s, transform .2s ease .45s;
}
.user-avatar-menu-active .menu li:nth-child(4) a {
	-webkit-transition:opacity .2s ease .5s, -webkit-transform .2s ease .5s;
	-moz-transition:opacity .2s ease .5s, -moz-transform .2s ease .5s;
	transition:opacity .2s ease .5s, transform .2s ease .5s;
}
.user-avatar-menu-active .menu li:nth-child(5) a {
	-webkit-transition:opacity .2s ease .55s, -webkit-transform .2s ease .55s;
	-moz-transition:opacity .2s ease .55s, -moz-transform .2s ease .55s;
	transition:opacity .2s ease .55s, transform .2s ease .55s;
}
.user-avatar-menu-active .menu li:nth-child(6) a {
	-webkit-transition:opacity .2s ease .6s, -webkit-transform .2s ease .6s;
	-moz-transition:opacity .2s ease .6s, -moz-transform .2s ease .6s;
	transition:opacity .2s ease .6s, transform .2s ease .6s;
}
.user-avatar-menu-active .menu li:nth-child(7) a {
	-webkit-transition:opacity .2s ease .65s, -webkit-transform .2s ease .65s;
	-moz-transition:opacity .2s ease .65s, -moz-transform .2s ease .65s;
	transition:opacity .2s ease .65s, transform .2s ease .65s;
}
.user-avatar-menu-active .menu li:nth-child(8) a {
	-webkit-transition:opacity .2s ease .7s, -webkit-transform .2s ease .7s;
	-moz-transition:opacity .2s ease .7s, -moz-transform .2s ease .7s;
	transition:opacity .2s ease .7s, transform .2s ease .7s;
}
.user-avatar-menu-active .menu li:nth-child(9) a {
	-webkit-transition:opacity .2s ease .75s, -webkit-transform .2s ease .75s;
	-moz-transition:opacity .2s ease .75s, -moz-transform .2s ease .75s;
	transition:opacity .2s ease .75s, transform .2s ease .75s;
}
.user-avatar-menu-active .menu li:nth-child(10) a {
	-webkit-transition:opacity .2s ease .8s, -webkit-transform .2s ease .8s;
	-moz-transition:opacity .2s ease .8s, -moz-transform .2s ease .8s;
	transition:opacity .2s ease .8s, transform .2s ease .8s;
}
/* when search is active, decrease avatar z-index */
.user-avatar-search-active { z-index:10; }

/* menu closed (arrow down) */
.user-avatar-menu .menu-item-has-children:before {
	font-family:'FontAwesome';
	font-size:10px;
	content:'\f078';
	float:right;
	margin:0 0 -25px 0;
	padding:0;
	position:relative;
	top:7px;
	right:6px;
	cursor:pointer;
	pointer-events:none;
	
	/* expand arrow down color */
	color:#ccc;
}

/* sub-menu wrapper */
.user-avatar-menu .sub-menu {
	position:static;
	width:100%;
	margin:0;
	padding:0;
	text-transform:none;
}
.user-avatar-menu-active .sub-menu {
	margin:5px 0 0 0;
}
.user-avatar-menu .sub-menu ul {
	list-style:none;
	position:static;
	margin:0;
	padding:0;
}
.user-avatar-menu .sub-menu li {
	list-style:none;
	margin:0;
	padding:0;
	float:none;
	border:none;
}
/* sub-menu bottom border */
.user-avatar-menu .sub-menu li:last-child {
	border-bottom:1px solid #ECEEEF;
	padding-bottom:14px;
	margin-bottom:10px;
}
.user-avatar-menu .sub-menu li.noborder:last-child {
	border:none;
	padding-bottom:6px;
	margin-bottom:0;
}
/* sub-menu item */
.user-avatar-menu .sub-menu a {
	padding:5px 0 7px 15px;
	margin:0 !important;
	display:block;
	line-height:15px;
	outline:none;
	font-weight:400;
	border:none !important;

	/* sub-menu item color */
	color:#A4ABB0;
}
/* sub-menu item hover */
.user-avatar-menu .sub-menu a:hover {
	text-decoration:none;

	/* sub-menu item hover color */
	color:#65696C;
}
/* no background hover on sub-menu */
.user-avatar-menu .sub-menu li a:hover {
	background:none !important;
}


/* FULL-SCREEN PROFILE
**************************************************/
.openprofile { cursor:pointer; }
/* wrapper */
.profile-wrapper {
	opacity:0;
	position:fixed;
	z-index:16;
	top:-100%;
	width:100%;
	height:100%;
	background-color:#0D1115;
	overflow:auto;
	
	-webkit-transition:opacity .3s ease, top 0s ease .5s;
	-moz-transition:opacity .3s ease, top 0s ease .5s;
	transition:opacity .3s ease, top 0s ease .5s;
}
.profile-wrapper-active {
	top:0;
	opacity:1;
	
	-webkit-transition:opacity .3s ease, top 0s ease;
	-moz-transition:opacity .3s ease, top 0s ease;
	transition:opacity .3s ease, top 0s ease;
}
/* inner */
.profile-inner {
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:22px;
	line-height:37px;
	color:#8E9CA0;
	opacity:0;

	-webkit-transform:translateY(25px);
	-moz-transform:translateY(25px);
	transform:translateY(25px);
}
.profile-inner strong { font-weight:700; }
.profile-inner a {
	color:#D7BA34;
	text-decoration:underline;
}
.profile-inner a:hover {
	text-decoration:none;
}
.profile-wrapper-active .profile-inner {
	opacity:1;
	max-width:900px;
	margin:10% auto 0 auto;
	padding:140px 30px 40px 30px;
		
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
	
	-webkit-transition:opacity .4s ease .2s, -webkit-transform .55s ease .2s;
	-moz-transition:opacity .4s ease .2s, -moz-transform .55s ease .2s;
	transition:opacity .4s ease .2s, transform .55s ease .2s;
}
/* profile close button */
.closeprofile {
	position:absolute;
	z-index:12;
	top:65px;
	width:100%;
	text-align:center;
	margin:0 auto;
}
.closeprofile svg {
	fill:#fff;
	width:54px;
	height:54px;
	opacity:.3;
	cursor:pointer;

	-webkit-transition:opacity .3s ease;
	-moz-transition:opacity .3s ease;
	transition:opacity .3s ease;
}
.closeprofile svg:hover {
	opacity:.6;
}


/* BREADCRUMBS
**************************************************/
#breadcrumbs {
	width:90%;
	text-align:center;
	font-family:'Dosis',arial,tahoma;
	font-size:11px;
	font-weight:400;
	letter-spacing:.1em;
	text-transform:uppercase;
	color:#8F8F8F;
	margin:36px auto 0 auto;
}
#breadcrumbs span {
	display:inline-block;
	color:#111;
}
#breadcrumbs ul {
	list-style:none;
	display:inline-block;
}
#breadcrumbs li {
	display:inline;
	list-style-type:none;
	padding:0 0 0 5px;
	margin:0 0 2px 0;
}
#breadcrumbs a {
	color:#8F8F8F;
	text-decoration:none;
}
#breadcrumbs a:hover {
	text-decoration:underline;
}
#breadcrumbs li::before {
	content: "/ ";
}
#breadcrumbs li:first-child::before {
	content: "";
}


/* POST DATE
**************************************************/
.post-date-comment {
	font-family:'Dosis',arial,tahoma,verdana;
	font-weight:400;
	font-size:15px;
	color:#8F8F8F;
	padding-bottom:9px;
	
	text-align:center;
	text-transform:uppercase;
	letter-spacing:.1em;
}


/* COMMENT COUNT
**************************************************/
.comment-count {
	color:#DA5631;
	display:inline-block;
	text-decoration:underline;
	cursor:pointer;
}
.comment-count:hover { text-decoration:none; }
/* links (front page) */
.comment-count a { color:#DA5631; }
.comment-count a:hover { text-decoration:none; }


/* STRUCTURE
**************************************************/
.pagewidth {
	max-width:100%;
	position:relative;
	margin:0 auto;
}
#content {
	width:100%;
	margin:0 auto;
	position:relative;
	top:0;
}


/* 404 PAGE
**************************************************/
.error404 #breadcrumbs { display:none; }
.not-found-wrapper {
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:22px;
	line-height:37px;
	color:#4C585C;

	margin:0 auto 10px auto;
	padding:0px 30px 0 20px;
	max-width:1000px;
	text-align:left;
}
.not-found-title {
	font-family:'Bree Serif', arial, tahoma;
	font-size:40px;
	line-height:43px;
	color:#141414;
	margin:50px 0 20px 0;
}
.not-found-home-link a {
	color:#A18B23;
	text-decoration:underline;
	display:inline-block;
	margin-top:27px;
}
.not-found-home-link a:hover {
	text-decoration:none;
}
.not-found-home-link a i {
	padding-left:2px;
	font-size:18px;
}
.not-found-home-link a:hover i {
	padding-left:10px;
	
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	transition: all .20s ease;
}



/* SHOWING TAGS/CATEGORIES/SEACRH RESULTS/AUTHOR
**************************************************/
.showing {
	font-family:'Dosis',arial,tahoma,verdana;
	font-weight:400;
	font-size:15px;
	color:#8F8F8F;
	padding-bottom:9px;
	margin:0 auto 50px auto;
	text-align:center;
	letter-spacing:.1em;
	
	border-bottom:1px solid #CECECF;
	max-width:975px;
}
.showing span {
	display:block;
	font-family:'Bree Serif', arial, tahoma;
	font-size:33px;
	line-height:38px;
	color:#141414;
	text-align:center;
	margin-bottom:40px;
}
.tag-description {
	padding:0 0 17px 0;
}
.tag-description p {
	padding:0;
}


/* COMMENT FORM
**************************************************/
/* comment textarea label */
label[for=comment] {
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:12px;
	color:#AFAFB5;
	letter-spacing:0.035em;
	
	margin:22px 0 6px 3px;
	display:block;
	text-align:left;
}

#commentform-fields {
	position:relative;
	z-index:6;
	margin:-50px 0 2px 10px;
	text-align:left;
	overflow:hidden;
	display:none;
}
.commentform-fields-active { display:block !important; }
#author-wrapper, #email-wrapper, #url-wrapper {
	width:30%;
	display:block;
	float:left;
}
#email-wrapper {
	margin-left:23px;
}
#url-wrapper {
	margin-left:24px;
}
#author, #email, #url {
	width:100%;
	min-width:100px;
	height:30px;
	border:none;
	
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:11px;
	color:#B4BCC1;
	text-transform:uppercase;
	letter-spacing:0.03em;
	
	border-radius:0;
	padding:3px 0 1px 12px;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
#email, #url {	
	border-left:1px solid #D4D8DB;
}
#comment {
	width:100%;
	height:95px;
	display:block;
	margin:0;
	padding:12px 0 70px 14px;
	background:none;
	border:none;

	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:14px;
	line-height:22px;
	color:#7D8689;
	
	resize:none;
	position:relative;
	z-index:5;
	background:#fff;
	
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(71,74,75,0.25);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(71,74,75,0.25);
	box-shadow: inset 0px 0px 1px 1px rgba(71,74,75,0.25);

	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-appearance:none;
}
#comments {
	padding:0 0 0 0;
}
#respond {
	max-width:950px;
	padding:0 26px 10px 12px;
	margin:0 auto 0 auto;
	position:relative;
	clear:both;
	text-align:center;
}
#respond-closed-wrapper { margin:0 20px; }
#respond-closed {
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:18px;
	line-height:25px;
	color:#fff;
	text-align:center;
	padding:25px 20px;
	background-color:#40ACB4;
	max-width:950px;
	margin:0 auto;
	
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
#respond #cancel-comment-reply-link {
	display:none;
	bottom:15px;
	left:18px;
	position:absolute;
	width:29px;
	height:28px;
	padding:0;
	margin:10px 0 0 0;
	z-index:6;
	background: url(images/close-reply-icon.png) no-repeat center center;
	background-color:#F4F4F5;
}
/* Retina display #respond #cancel-comment-reply-link */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
#respond #cancel-comment-reply-link { background-size: 16px 9px !important; background: url(images/close-reply-icon@2x.png) no-repeat center center; background-color:#F4F4F5; }
}

#cancel-comment {
	display:none;
	bottom:15px;
	left:19px;
	width:25px;
	height:25px;
	position:absolute;
	cursor: pointer;
	z-index:4;
	background: url(images/close-icon.png) no-repeat center center;
}
/* Retina display #cancel-comment */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
#cancel-comment { background-size: 16px 16px !important; background: url(images/close-icon@2x.png) no-repeat center center;}
}

.form-submit {
	width:100%;
	text-align:left;
}
#submit {
	padding:11px 27px 11px 31px;
	margin:11px -12px 0 0;
	float:right;
	cursor:pointer;
	border:none;
	
	-webkit-box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	-moz-box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:12px;
	color:#998500;
	
	text-decoration:none;
	background-color:#FFDE00;
	
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	
	-webkit-appearance: none;
}
#submit:hover {
	text-decoration:underline;
}

/* place comment box above the textfields */
#commentform {
	display:table;
	width:100%;
}
#comment-wrapper {
	display:table-header-group;
}
.logged-in-as {
	font-size:10px;
	font-family:'Source Sans Pro';
	font-weight:400;
	text-transform:uppercase;
	position:absolute;
	bottom:2px;
	margin:0;
	color:#ccc;
	display:none;
	height:20px;
}
.logged-in-as a {
	color:#ccc;
}

/* comment HTML tags and attributes */
.comment-tags-attributes {
	font-family:'Source Sans Pro';
	font-size:11px;
	line-height:16px;
	color:rgba(255,255,255,0.15);
	padding:10px 11px 0 9px;
	margin:0 25px;
}


/* COMMENTS
**************************************************/
.comments-wrapper {
	max-width:100%;
	margin:0 auto 0 auto;
	padding:0;
}
.commentwrap {
	text-align:left;
	width:100%;
	margin:0 auto;
	padding:0 15px;
	position:relative;
	clear:both;
	max-width:100%;
	z-index:5;
}
/* comment title */
.comment-title, #reply-title {
	margin:0 0 10px;
	padding:0;
}
/* comment pagenav */
.commentwrap .pagenav {
	margin:10px auto;
	border:none;
	
	max-width:940px;
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:20px;
	line-height:25px;
	color:#899295;
	padding:3px 20px 0 24px;
}
.commentwrap .pagenav a {
	color:#A18B23;
	text-decoration:none;
}
.commentwrap .pagenav a:hover {
	text-decoration:underline;
}
.commentwrap .pagenav.top {
	max-width:940px;
	margin:0 auto;
}
/* commentlist */
.commentlist {
	max-width:960px;
	padding:0 10px 0 13px;
	margin:20px auto 0 auto;
	z-index:5;
}
.commentlist li {
	margin:0;
	padding:25px 0;
	list-style:none;
	position:relative;
}
/* nested comment */
.children li {
	padding:20px 0 0 30px;
	margin:0;
	border-bottom:none;
}
/* comment container */
.commentlist .comment-container {
	display:block;
	overflow:hidden;
	padding:2px 5px 17px 10px;
	min-height:50px;
}
/* comment entry */
.commentlist .comment-entry {
	font-size:19px;
	line-height:27px;
	font-family:'Roboto',arial,tahoma,verdana;
	font-weight:300;
	color:#82858A;
	display:block;
	clear:both;
	padding:0 3px;
}
/* comment avatar */
.commentlist .comment-avatar {
	display:block;
	height:60px;
}
.commentlist .comment-avatar img {
	width:45px;
	height:45px;
	margin:0 8px 0 10px;
	float:left;
	
	border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

/* comment author */
.commentlist .comment-author {
	padding:0;
	margin:16px 0 0 0;
	display:inline-block;
}
.commentlist .comment-author,
.commentlist .comment-author a {
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:11px;
	color:#A7AFB7;
	text-transform:uppercase;
}
.commentlist .comment-author a { text-decoration:underline; }
.commentlist .comment-author a:hover { text-decoration:none; }
.commentlist .bypostauthor .comment-author:after {
	content:'Author';
	padding:4px 12px;
	color:#fff;
	margin-left:10px;
	background-color:#CAC43D;
	
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
/* comment reply button */
.commentlist .comment-reply-link {
	display:inline-block;
	padding:8px 23px 8px 22px;
	margin:27px 0 0 0;
	cursor:pointer;
	border:none;
	
	-webkit-box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	-moz-box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:12px;
	color:#998500;
	
	text-decoration:none;
	background-color:#FFDE00;
	
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	
	-webkit-appearance: none;
}
.commentlist .comment-reply-link:hover {
	text-decoration:underline;
}
/* comment edit link */
.comment-edit-link { text-decoration:underline; }
.comment-edit-link:hover { text-decoration:none; }
/* default commentlist list styles */
.commentlist .comment-entry ul {
	list-style-type:disc;
	list-style-position:inside;
}
.commentlist .comment-entry ul li {
	list-style-type:disc;
	list-style-position:inside;
	margin:0;
	padding:0;
}
.commentlist .comment-entry ol {
	list-style-type:decimal;
	list-style-position:inside;
}
.commentlist .comment-entry ol li {
	list-style-type:decimal;
	list-style-position:inside;
	margin:0;
	padding:0;
}
.commentlist .comment-entry ul ul,
.commentlist .comment-entry ol ul {
	list-style-type:circle;
	list-style-position:inside;
	margin-left:15px;
}
.commentlist .comment-entry ol ol,
.commentlist .comment-entry ul ol {
	list-style-type:lower-latin;
	list-style-position:inside;
	margin-left:15px;
}


/* CONTACT FORM
**************************************************/
/* comment textarea label */
label[for=message] {
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:12px;
	color:#AFAFB5;
	letter-spacing:0.035em;
	
	margin:22px 0 6px 3px;
	display:block;
	text-align:left;
}
#contactform-wrapper {
	max-width:1000px !important;
	margin-right:10px;
}
.formstatusok {
	height:45px;
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:700;
	font-size:14px;
	line-height:22px;
	text-transform:uppercase;
	color:#fff;
	background:#34AE20;
	padding:20px 7px 20px 7px !important;
	text-align:center;
	margin:0 0 0 15px;
	max-width:945px;
}
.formstatuserror {
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:14px;
	line-height:22px;
	color:#F8ECEE;
	background:#B83E4F;
	padding:12px 12px 15px 15px !important;
	margin:0 0 0 15px;
	max-width:945px;
}

#subject, #name, #mail {
	font-size:14px;
	height:30px;
	border:none;
	border-bottom:1px solid #DCDDDD;
	background:none;
	border-radius:0;
	
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:12px;
	color:#AFAFB5;
	text-transform:uppercase;	
	
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	transition:all .2s ease;
}
#name:hover, #mail:hover, #name:focus, #mail:focus {
	border-bottom:1px solid #C8C9C9;
}
}
#subject:hover, #name:hover, #mail:hover, #subject:focus, #name:focus, #mail:focus {
	border-bottom:1px solid #5;
}

#subject-wrapper, #name-wrapper, #mail-wrapper {
	margin:3px 14px 0 15px;
}
#subject, #name, #mail {
	width:100%;
	padding: 8px 5px 0 5px;
	margin:0;
}

#message-wrapper {
	padding:15px 17px 0 14px;
}
#message {
	width:100%;
	height:75px;
	display:block;
	margin:0;
	padding:12px 0 70px 14px;
	background:none;
	border:none;

	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:14px;
	line-height:22px;
	color:#7D8689;
	
	resize:none;
	position:relative;
	z-index:5;
	background:#fff;
	
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(71,74,75,0.25);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(71,74,75,0.25);
	box-shadow: inset 0px 0px 1px 1px rgba(71,74,75,0.25);

	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-appearance:none;
}
/* send message button */
#contact-submit {
	padding:11px 27px 11px 31px;
	margin:11px 0 0 14px;
	cursor:pointer;
	border:none;
	
	-webkit-box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	-moz-box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:12px;
	color:#998500;
	
	text-decoration:none;
	background-color:#FFDE00;
	
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	
	-webkit-appearance: none;
}
#contact-submit:hover {
	text-decoration:underline;
}

/* cancel message button */
#cancel-message {
	float:right;
	margin:22px 18px 0 0;
	width:25px;
	height:25px;
	cursor:pointer;
	z-index:4;
	background: url(images/close-icon.png) no-repeat center center;
}
/* Retina display #contact-submit */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
#cancel-message { background-size: 16px 16px !important; background: url(images/close-icon@2x.png) no-repeat center center; }
}

/* contact form placeholder */
#message input::-webkit-input-placeholder { color:#3C3F40 !important; }
#message input:-moz-placeholder { color:#3C3F40 !important; }
#message input::-moz-placeholder { color:#3C3F40 !important; }
#message input:-ms-input-placeholder { color:#3C3F40 !important; }


/* VIDEO CONTAINER
**************************************************/
.post-video {
	position:relative;
	padding-bottom:55%;
	padding-top:10px;
	height:0;
	overflow:hidden;
	margin:0 0 0 0;
}
.post-video iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
}

.video-container {
	position:relative;
	padding-bottom:55%;
	padding-top:10px;
	height:0;
	overflow:hidden;
	margin:30px auto 30px auto;
	max-width:1000px;	
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
}
.video-container:empty {
	display:none;
}
iframe {
}


/* LISTS
**************************************************/
ul, ol {
}
li {
	margin: 0 0 0 0;
	padding: 0;
}

.entry-content ul li {
	margin:0 12px 0 18px;
	text-align:left;
}

.entry-content ol li {
	margin: 0 12px 0 21px;
	text-align:left;
}


/* HEADINGS
**************************************************/
h1, h2, h3, h4, h5, h6 {
	margin-top:20px;
	color:#454545;
	padding:0 0 10px 0;
	font-family:'Bree Serif',arial,tahoma;
}
h1 { font-size: 35px; line-height: 40px; }
h2 { font-size: 32px; line-height: 36px; }
h3 { font-size: 29px; line-height: 33px; }
h4 { font-size: 26px; line-height: 29px; }
h5 { font-size: 23px; line-height: 27px; }
h6 { font-size: 20px; line-height: 25px; }


/* DISPLAY NONE
**************************************************/
.display-none {
	display:none;
}


/* POSTS, PAGES
**************************************************/
/* content wrapper */
.content-wrapper,
.content-wrapper-single {
	max-width:1000px;
	margin:0 auto 30px auto;
	padding:0;
}
/* page wrapper */
.page-wrapper {
	max-width:1000px;
	margin:0 auto 30px auto;
	padding:0;
}
/* contact page wrapper */
.contact-page-wrapper {
	max-width:1000px;
	margin:0 auto 30px auto;
	padding:0;
}
.post {
	margin:0 0 0 0;
	padding:0 0 25px 0;
}
.entry-content {
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:22px;
	line-height:37px;
	color:#4C585C;
	text-align:left;
	padding:5px 20px 10px 24px;
	min-height:75px;
	
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.entry-content strong { font-weight:700; }
.entry-content p {
	margin:0 0 20px 0;
	padding:0;	
}
.entry-content span p {
	padding:0;
	margin:0;
}
.entry-content a {
	color:#A18B23;
	text-decoration:underline;
}
.entry-content a:hover {
	text-decoration:none;
}
.entry-content img, .excerpt img {
	width:auto;
	padding:0;
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.entry-content img a {
}
.entry-content a img:hover {
}

/* mini divider */
.mini-divider {
	border-bottom:2px solid #252525;
	width:45px;
	margin:20px 0 28px 0;
}
.page-end-spacer {
	height:5px;
	display:block;
}
/* post, page titles */
h1.post-title, h1.page-title, h1.post-title a, h1.page-title a {
	margin-top:0;
}
.post-title, .page-title, .post-title a, .page-title a {
	font-family:'Bree Serif',arial,tahoma;
	font-size:40px;
	line-height:43px;
	color:#141414;
	text-align:center;
	
	-ms-word-wrap:break-word;
	word-wrap:break-word;

	-webkit-transition:all .25s ease;
	-moz-transition:all .25s ease;
	transition:all .25s ease;
}
.post-title, .page-title {
	padding-left:120px;
	padding-right:120px;
	padding-bottom:35px;
	margin-bottom:48px;
	border-bottom:1px solid #CECECE;
}
.post-title a:hover, .page-title a:hover {
	text-decoration:none;
	color:#CDB232;
}
.content-wrapper .post-title,
.content-wrapper .page-title {
	border-bottom:none;
	margin-bottom:-10px;
}
.page-title-centered {
	text-align:left;
}
.contact-page-wrapper .page-title { padding-bottom:25px; margin-bottom:20px; }

/* read more link */
.more-button {
	text-align:center;
	margin:20px 0 75px 0;
}
.more-button a {
	padding:14px 30px 14px 34px;
	cursor:pointer;
	border:none;
	
	-webkit-box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	-moz-box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	box-shadow:1px 1px 0px 0px rgba(50, 50, 50, 0.17);
	
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:13px;
	color:#998500;
	
	text-decoration:none;
	background-color:#FFDE00;
	
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	
	-webkit-appearance: none;
}
.more-button a:hover {
	text-decoration:underline;
}
/* post edit link */
.post-edit-link {
	display:block;
	margin:30px auto 20px auto;
	text-align:center;
	text-decoration:none;
	width:100px;
	font-size:13px;
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	color:#5196D6;
}
.post-edit-link:hover {
	text-decoration:underline;
}


/* POST PAGINATION
**************************************************/
.link-pages {
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:16px;
	line-height:25px;
	color:#899295;
	padding:0 20px 0 24px;
}
.link-pages a {
	color:#A18B23;
	text-decoration:underline;
}
.link-pages a:hover {
	text-decoration:none;
}
.link-pages p {
	margin:0;
	padding:0;
}


/* CATEGORIES + TAGS AT END OF POST
**************************************************/
.post-cat,
.post-tag {
	font-family:'Merriweather',arial,tahoma,verdana;
	font-weight:300;
	font-size:16px;
	line-height:25px;
	color:#899295;
	padding:3px 20px 0 24px;
}
.post-cat a,
.post-tag a {
	color:#A18B23;
	text-decoration:none;
}
.post-cat a:hover,
.post-tag a:hover {
	text-decoration:underline;
}


/* SHARE BUTTON
**************************************************/
/* share button */
.share-wrapper {
	position:relative;
	border:1px solid #D9D9D9;
	background-color:#FBFBFB;
	width:40px;
	height:35px;
	margin-left:20px;
	float:right;
	
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	
	-webkit-box-shadow: 1px 1px 0 0 #E9E9EA;
	-moz-box-shadow: 1px 1px 0 0 #E9E9EA;
	box-shadow: 1px 1px 0 0 #E9E9EA;
}
.share-wrapper svg {
	width:27px;
	height:27px;
	padding:4px 7px;
	fill:#919191;
	cursor:pointer;
}
/* share tooltip (hover) */
.share-tooltip {
	position:absolute;
	top:28px;
	right:51px;
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #303438;
}
.share-tooltip-text {
	position:absolute;
	top:-10000px;
	right:-35px;
	width:96px;
	background-color:#303438;
	padding:7px 10px 6px 14px;
	opacity:.5;
	
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:10px;
	color:#BEBEC6;
	letter-spacing:0.03em;
	
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	
	-webkit-transform:translateY(-5px);
	-moz-transform:translateY(-5px);
	transform:translateY(-5px);
	
	-webkit-transition:-webkit-transform .35s ease, opacity .35s ease;
	-moz-transition:-moz-transform .35s ease, opacity .35s ease;
	transition:transform .35s ease, opacity .35s ease;
}
.share-wrapper:hover .share-tooltip-text {
	top:-40px;
	opacity:1;
	
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
}
/* share tooltip (click) */
.share-links-tooltip {
	position:absolute;
	top:129px;
	right:51px;
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #1F1F1F;
}
.share-links-wrapper {
	position:absolute;
	top:-10000px;
	right:-35px;
	width:85px;
	background-color:#1F1F1F;
	padding:5px 10px 5px 12px;
	opacity:.5;
	
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	
	-webkit-transform:translateY(-5px);
	-moz-transform:translateY(-5px);
	transform:translateY(-5px);
	
	-webkit-transition:-webkit-transform .35s ease, opacity .35s ease;
	-moz-transition:-moz-transform .35s ease, opacity .35s ease;
	transition:transform .35s ease, opacity .35s ease;
}
.share-links-wrapper-active {
	top:-141px;
	opacity:1;
	
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
}
.share-links-wrapper a {
	display:block;
	padding:7px 0 7px 5px;
	border-bottom:1px solid #3C3C3C;
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:10px;
	color:#BEBEC6;
	letter-spacing:0.03em;
	
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	transition:all .2s ease;
}
.share-links-wrapper a:hover {
	color:#fff;
	text-decoration:none;
}
.share-links-wrapper a:last-child { border-bottom:none; }
/* hide hover tooltip when share links active */
.share-tooltip-text-inactive { display:none; }

/* divider between share + prev/next post buttons */
.share-prev-next-divider {
	float:right;
	border-left:1px solid #D7D7DD;
	height:16px;
	margin:11px 8px 0 9px;
}


/* PREV/NEXT POST BUTTONS
**************************************************/
/* prev/next post buttons */
.next-prev-post-wrapper {
	width:74px;
	height:37px;
	margin-right:24px;
	float:right;
}
.next-prev-post-wrapper svg {
	width:35px;
	height:35px;
	fill:#919191;
}
.prev-button,
.next-button {
	position:relative;
	border:1px solid #D9D9D9;
	background-color:#FBFBFB;
	width:35px;
	height:35px;
	float:right;
}
.prev-button {
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
}
.next-button {
	border-left:0;

	-webkit-border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	border-radius:0 2px 2px 0;
}
.prev-button svg {
	padding:4px;
	-moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.next-button svg {
	padding:4px;
	-moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
/* prev/next post tooltips */
.prev-tooltip,
.next-tooltip {
	position:absolute;
	top:28px;
	right:17px;
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #303438;
}
.prev-tooltip-text,
.next-tooltip-text {
	position:absolute;
	top:-10000px;
	right:-5px;
	width:58px;
	background-color:#303438;
	padding:7px 12px 6px 14px;
	opacity:.5;
	
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:10px;
	color:#BEBEC6;
	letter-spacing:0.03em;
	
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	
	-webkit-transform:translateY(-5px);
	-moz-transform:translateY(-5px);
	transform:translateY(-5px);
	
	-webkit-transition:-webkit-transform .35s ease, opacity .35s ease;
	-moz-transition:-moz-transform .35s ease, opacity .35s ease;
	transition:transform .35s ease, opacity .35s ease;
}
.prev-button:hover .prev-tooltip-text,
.next-button:hover .next-tooltip-text {
	top:-40px;
	opacity:1;
	
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
}


/* NEXT PAGE, PREV PAGE (BLOG INDEX)
**************************************************/
/* wrapper */
.post-nav {
	max-width:970px;
	margin:30px auto 40px auto;
	height:40px;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
.post-nav-fade {
	opacity:0;
}
.post-nav-hide {
	display:none;
}

/* prev inactive */
.post-nav .prev-inactive {
	display:block;
	float:left;
	margin:0 0 15px 1px;
	width:75px;
	height:40px;
	background: url(images/prev-page-inactive.png) no-repeat center center;
}
/* Retina display .post-nav .prev-inactive */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
.post-nav .prev-inactive { background-size: 35px 10px !important; background: url(images/prev-page-inactive@2x.png) no-repeat center center;}
}

/* next inactive */
.post-nav .next-inactive {
	display:block;
	float:right;
	margin:0 1px 15px 0;
	width:75px;
	height:40px;
	background: url(images/next-page-inactive.png) no-repeat center center;
}
/* Retina display .post-nav .next-inactive */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
.post-nav .next-inactive { background-size: 35px 10px !important; background: url(images/next-page-inactive@2x.png) no-repeat center center;}
}


/* previous posts */
.post-nav .prev {
	opacity:.15;
	display:block;
	width:75px;
	height:40px;
	
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	transition: all .15s ease;
	
	background: url(images/prev-page.png) no-repeat center center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
.post-nav .prev { background-size: 35px 10px !important; background: url(images/prev-page@2x.png) no-repeat center center;}
}

/* next posts */
.post-nav .next {
	opacity:.15;
	display:block;
	width:75px;
	height:40px;
	background: url(images/next-page.png) no-repeat center center;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}
/* Retina display .post-nav .next */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
.post-nav .next { background-size: 35px 10px !important; background: url(images/next-page@2x.png) no-repeat center center;}
}

.post-nav .prev-inactive .prev:hover, .post-nav .next-inactive .next:hover {
	opacity:0.35;
}


/* FOOTER
**************************************************/
#footer {
	clear:both;
	padding:0;
	margin-top:75px;
	background-color:#0D1115;
	display:block;
}
.footer-inner {
	max-width:945px;
	margin:0 auto;
	padding:35px 15px 10px 15px;
}


/* WIDGETS
**************************************************/
.footer-widgets-wrapper .children li { border:none; }
.footer-widgets-1-column .widget, .footer-widgets-2-columns .widget, .footer-widgets-3-columns .widget, .footer-widgets-4-columns .widget {
	display:inline-block;
	vertical-align:top;
	min-width:215px;
}
.footer-widgets-1-column .widget { width:94%; }
.footer-widgets-2-columns .widget { width:46.3%; }
.footer-widgets-3-columns .widget { width:29.8%; }
.footer-widgets-4-columns .widget { width:22%; }
.widget {
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:11px;
	color:#777B80;
	line-height:17px;
	letter-spacing:0.1em;
	text-transform:uppercase;
	
	padding:0 10px 20px 10px;
	word-wrap:break-word;
	text-align:left;
}
.widget ul li { list-style:none; }
.widget a {
	color:#777B80;
	text-decoration:none;
}
.widget a:hover {
	color:#D3BA11;
	text-decoration:underline;
}
.widgettitle {
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:14px;
	color:#F4F4F5;
	line-height:17px;
	letter-spacing:0.1em;
	text-transform:uppercase;
}
.widget select {
	width:100%;
	max-width:950px;
}
/* text widget */
.textwidget a {
	color:#D3BA11;
}
/* recent posts widget */
.widget_recent_entries li {

}
.widget_recent_entries .post-date {
	font-size:12px;
	display:block;
	color:rgba(0,0,0,0.3);
}

/* widget rss */
.widget_rss ul li {
	color:#999;
}
.widget_rss .rss-date {
	font-size:12px;
	display:block;
	color:rgba(0,0,0,0.3);
}

/* widget archives */
.widget_archive ul {
	list-style-type:none;
}
.widget_archive li {
	display:inline;
	margin-right:5px;
}

/* widget categories */
.widget_categories ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
.widget_categories li {
	display:inline;
	margin-right:5px;
}

/* widget recent comments */
.widget_recent_comments li {
	color:#999;
}

/* widget meta */
.widget_meta ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
.widget_meta li {
	display:inline;
	margin-right:5px;
}

/* widget calendar */
#wp-calendar { width:100%; color:#757575; }
#wp-calendar caption { color:#999; margin:0 0 10px; }
#wp-calendar tr { text-align:center; }
#wp-calendar .pad { background:none; }
#wp-calendar th { color:#999; }
#wp-calendar tr td { padding:7px 0; background:rgba(0,0,0,0.03); }

/* widget search */
.widget_search #searchform {
	/*margin:2px 12px 0 0;*/
}
.widget_search #searchform input {
	width:100%;
	height:40px;
	padding:0 0 0 8px;
	border:0;
	border-bottom:1px solid rgba(0,0,0,0.08);
	font-family:'Source Sans Pro';
	font-weight:300;
	font-size:20px;
}

.widget_search #searchform input::-webkit-input-placeholder { color:rgba(0,0,0,0.25); }
.widget_search #searchform input:-moz-placeholder { color:rgba(0,0,0,0.25); }
.widget_search #searchform input::-moz-placeholder { color:rgba(0,0,0,0.25); }
.widget_search #searchform input:-ms-input-placeholder { color:rgba(0,0,0,0.25); }


.widget_search #searchform input:hover {
	color:#777;
	border-bottom:1px solid rgba(0,0,0,0.15);
}
.widget_search #searchform input:focus {
	color:#777;
}

/* widget nav menu */
.widget_nav_menu .sub-menu {
	margin:10px 0 0 10px;
	position:static;
}
.widget_nav_menu .menu li a, .widget_nav_menu .menu li.sub a {
	text-decoration:none;
	border:none;
	background:none;
	margin:0 0 5px 0;
}


/* "TOP OF PAGE" BUTTON
**************************************************/
.top-of-page {
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:11px;
	color:#777B80;
	letter-spacing:0.1em;
	
	display:inline-block;
	margin:10px 0 30px 10px;
	cursor:pointer;
}
.top-of-page:hover {
	color:#D3BA11;
	text-decoration:underline;
}


/* POST FORMATTING
**************************************************/
img.alignleft, img.aligncenter, img.alignright, img.alignnone {
	padding:0;margin:0;
}
img.alignleft {
	padding-right:20px;
	padding-bottom:10px;
}
img.alignright {
	padding-left:20px;
	padding-bottom:10px;
}
img.aligncenter {
	margin:0 auto;
}
.alignleft {
	float: left;
	margin-right: 30px;
}
.alignright {
	float: right;
	margin-left: 30px;
}
.aligncenter {
	margin: 0 auto;
	display: block;
}
.wp-caption {
	max-width:100%;
	margin:0;
	padding:0;
}

.wp-caption.alignleft {
	padding-right:20px;
	padding-bottom:10px;
}
.wp-caption.alignright {
	padding-left:20px;
	padding-bottom:10px;
}
.wp-caption.aligncenter {
	margin: 0 auto;
}
.wp-caption img {
	margin: 0;
	padding:0;
}
.wp-caption-text {
	font-size: 14px;
	line-height:16px;
	text-align: center;
	color:#999;
	margin: 5px 0 20px 0;
	min-width:100%;
}


/*
CLEAR & ALIGNMENT
**************************************************/
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.textleft {
	text-align: left;
}
.textright {
	text-align: right;
}
.textcenter {
	text-align: center;
}

/* clearfix */
.clearfix:after, #body:after, #footer:after, footer:after, .pagenav:after, #main-nav:after, .menu:after, .gallery:after, #content:after
{ visibility: hidden; display: block; font-size: 0; clear: both; height: 0; }
.clearfix, #body, #footer, footer, .pagenav, #main-nav, .menu, #content
{ display: inline-block; }
/* clearfix for ie7 */
.clearfix, #body, #footer, footer, .pagenav, #main-nav, .menu, .gallery, #content
{ display: block; }


/* GALLERY LAYOUT, COLUMNS
**************************************************/
.gallery-item { margin-top:0 !important; }

.entry-content .gallery {
	margin: 0 0 -13px 0;
}

#content .gallery-item img { border:0; }

.gallery-caption {
	color: #615D5D;
}


#content .gallery-columns-1 .gallery-item img,
#content .gallery-columns-2 .gallery-item img,
#content .gallery-columns-3 .gallery-item img,
#content .gallery-columns-4 .gallery-item img,
#content .gallery-columns-5 .gallery-item img,
#content .gallery-columns-6 .gallery-item img,
#content .gallery-columns-7 .gallery-item img,
#content .gallery-columns-8 .gallery-item img,
#content .gallery-columns-9 .gallery-item img {
	width:100%;
	height:auto;
}


/* PHOTOSWIPE CUSTOMIZATIONS
**************************************************/
/* fix iOS flicker when scroll begins on thumbnail */
.gallery-item img { -webkit-backface-visibility: hidden; }
.gallery { margin:40px 0 25px 0 !important; }
.opacity-full { opacity:1 !important; }

.gallery:hover .gallery-icon a img {
	opacity:.65;
	
	-webkit-transform:scale(.96);
	-moz-transform:scale(.96);
	transform:scale(.96);
}
.gallery-icon a img {
	margin:-6px 0;
	opacity:.85;
	
	-webkit-transition:all .15s ease;
	-moz-transition:all .15s ease;
	transition:all .15s ease;
	
	filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter:gray;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	
	-webkit-transform:translateZ(0); 
	-moz-transform:translateZ(0); 
	transform:translateZ(0); 
}
.gallery-icon a img:hover {
	opacity:1 !important;
	position:relative;
	z-index:10 !important;

	-webkit-transform:scale(1.1) !important;
	-moz-transform:scale(1.1) !important;
	transform:scale(1.1) !important;
	
	filter:none;
	-webkit-filter:grayscale(0%);
	-moz-filter:grayscale(0%);
}

/* hide the image description */
.ps-caption { display:none !important; }
/* navigation always visible */
.ps-toolbar { opacity:0.8 !important; }

/* load nav icons from theme */
div.ps-toolbar div div.ps-toolbar-content {
	width:44px;
	height:44px;
	margin:0 auto 0;
	background-image:url(images/icons.png);
	background-repeat:no-repeat;
}
/* adjust toolbar */
div.ps-toolbar { 
	background: #0B0B0B;
	height: 60px;
	padding-top:8px;
	display: table;
	table-layout: fixed;
}
div.ps-toolbar-previous div.ps-toolbar-content { background-position: -48px 0; }
div.ps-toolbar-previous-disabled div.ps-toolbar-content { background-position: -48px -44px; }
div.ps-toolbar-next div.ps-toolbar-content { background-position: -95px 0; }
div.ps-toolbar-next-disabled div.ps-toolbar-content { background-position: -95px -44px; }
div.ps-toolbar-play div.ps-toolbar-content { background-position: -88px 0; }

/* Hi-res display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
div.ps-toolbar div div.ps-toolbar-content {
	-moz-background-size: 176px 88px;
	-o-background-size: 176px 88px;
	-webkit-background-size: 176px 88px;
	background-size: 176px 88px;
	background-image: url(images/icons@2x.png);
}
}
/* remove border from toolbar */
div.ps-toolbar, div.ps-toolbar-top {
	border: none !important;
}

/* close button width */
div.ps-toolbar-close {
	width:65px;
}
/* prevbutton width */
div.ps-toolbar-previous {
	width:47px;
}
/* next button width */
div.ps-toolbar-next {
	width:55px;
}
/* hide play button */
div.ps-toolbar-play {
	visibility:hidden;
}


/* SHORTCODE CUSTOMIZATIONS
**************************************************/
/* button font */
.button, .buttonsilver, .buttongreen, .buttonblue, .buttonsalmon, .buttonred, .buttonorange, .buttonpink {
	font-family:'Quantico',arial,tahoma,verdana;
	font-weight:700;
	font-size:12px !important;
	color:#fff;
	padding:5px 33px 3px 33px;
}
/* button margin */
.button-wrapper {
	margin:30px 0;
}
/* custom button colors */
.button { color:#666; }
.buttonsilver {
	background-color:#AFB8BD;
}
.buttongreen {
	background-color:#3CC682;
}
.buttonblue {
	background-color:#1FB6DB;
}
.buttonsalmon {
	background-color:#E58073;
}
.buttonred {
	background-color:#D64957;
}
.buttonorange {
	background-color:#E1985F;
}
.buttonpink {
	background-color:#D238A4;
}
/* info box title+desc color */
.infobox-title, .infobox-description { color:#454545; }

/* SPARROW THEME MAX-WIDTH 1050px */
@media screen and (max-width: 1050px) {
	.post-title, .page-title { padding-left:80px; padding-right:80px; margin:0 20px 25px 20px; }
	.post-title, .post-title a, .page-title { font-size:35px; line-height:39px; }
	.next-prev-post-wrapper { margin-right:20px; }
}

/* SPARROW THEME MAX-WIDTH 700px */
@media screen and (max-width: 700px) {
	.profile-inner { font-size:18px; line-height:28px; }
	.tagline { font-size:15px; line-height:20px; }
	#author-wrapper, #email-wrapper, #url-wrapper, #author, #email, #url { width:100%; }
	#email-wrapper, #url-wrapper { margin-left:0; }
	#comment { min-height:80px; padding-bottom:145px; }
	#commentform-fields { margin-top:-125px; }
	#email, #url { border-left:none; }
	#header-search-button {	top:25px; left:15px; margin:0; }
	.user-avatar { top:20px; right:30px; }
	.user-avatar-arrow { top:51px; right:12px; }
	.user-avatar-menu { top:82px; right:30px; }
	.user-avatar-menu-active { top:155px; }
	.site-logo, .site-logo a { font-size:30px; line-height:30px; }
	.post-date-comment { font-size:11px; }
	.post-title, .page-title { padding-left:40px; padding-right:40px; }
	.post-title, .post-title a, .page-title { font-size:25px; line-height:29px; }
	.entry-content { font-size:18px; line-height:30px; }
	.link-pages { margin-top:60px; }
	.share-wrapper { float:left; margin-left:20px; }
	.share-tooltip-text { right:-70px; }
	.share-tooltip { right:85px; }
	.share-links-wrapper { right:-57px; }
	.share-links-tooltip { right:70px; }
	.share-prev-next-divider { display:none; }
}

/* SPARROW THEME MAX-WIDTH 400px */
@media screen and (max-width: 400px) {
	.tagline { font-size:14px; line-height:18px; }
	#header-search-wrapper #searchform input { font-size:15px; }
	.site-logo, .site-logo a { font-size:25px; line-height:25px; margin-left:10px; }
	.post-title, .page-title { padding-left:20px; padding-right:20px; }
	.entry-content { font-size:16px; line-height:28px; }

	.header-image,
	.featured-image,
	#tubular-container,
	#tubular-shield,
	.header-overlay-color,
	.site-logo-wrapper,
	.search-menu-wrapper,
	.header-search-background,
	.sparrow-mobile-background { height:480px !important; }
	.header-search-active { top:205px !important; }
}

/* WORDPRESS TOOLBAR (IF WORDPRESS TOOLBAR ACTIVE, PUSH HEADER ELEMENTS DOWN A BIT)
**************************************************/
.wp-toolbar-active { margin-top:32px; }
/* for the thicker, mobile admin bar */
@media screen and (max-width: 782px) {
	.wp-toolbar-active { margin-top:46px; }
}
/* if WordPress amin bar active, keep it above everything else */
#wpadminbar { z-index:9999999999999999999999999999; }

/* STYLES FOR "COVER" PAGE TEMPLATE
**************************************************/
#cover-wrapper .header-image,
#cover-wrapper .featured-image,
#cover-wrapper #tubular-container,
#cover-wrapper #tubular-shield,
#cover-wrapper .header-overlay-color,
#cover-wrapper .site-logo-wrapper,
#cover-wrapper .search-menu-wrapper { position:absolute; top:0; height:100% !important; }
#cover-wrapper .header-search-background,
#cover-wrapper .sparrow-mobile-background { height:100% !important; }
#cover-wrapper .header-search-active {
	top:45% !important;
}