/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .tagline {
        font-size: 24px;
        line-height: 30px;
    }

    .site-logo a {
        font-size: 72px;
        line-height: 72px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 768px) and (min-height: 700px) {
    .site-logo {
        display: block;
        top: 20%;
        position: absolute;
        left: 0;
        right: 0;
    }

    .site-logo.single_manga {
        top: 80px;
    }

    .branding_logo {
        margin-bottom:80px;
    }
    .tagline {
        margin-top:60px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #header-search-button {
        top: 25px;
        left: 15px;
        margin: 0;
    }
    .site-logo, .site-logo a {
        font-size: 30px;
        line-height: 30px;
    }

    .share-wrapper {
        float: right;
        margin-right: 20px;
    }
    ul.tabs li:not(:first-child) a {
        margin-left: 0;
    }

    .share-links-wrapper,
    .share-tooltip-text {right: -20px !important; }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    ul.tabs li:not(:first-child) a {
        margin-left: 0;
    }

    a.branding_logo:before {
        width: 300px;
        height: 100px;
        -webkit-background-size:300px 100px;
        background-size:300px 100px;;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/* Custom, iPhone Retina */
@media only screen and (max-height : 600px) {

}

